body{   
    background: #230481e9;
    margin-left: 40px;    
}
h1{
    color: aliceblue;
}

h2{
    color: aliceblue;
}

p{
    color: aliceblue;
}
a{
    color: aliceblue;

}
footer{
    margin-bottom: 30px;

    color:aliceblue;

}
nav{
    color: aliceblue;
}